body{
    font-family: 'Lobster';font-size: 22px;
    margin:0px;
}
h2{
    font-size:50px;
}

.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding:2%

}
.half-width img{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
   
}
section{
    height:1000px;
}
.sec-first{
    background-image: url(images/header-bg.png);
    background-repeat:no-repeat;
}
.sec-two{
    background-image: url(images/biography-bg.png);
}
.sec-three{
    background-image:url(images/footer-bg.png);
}

.link{
    text-decoration:none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding:10px 20px;
    border-radius: 5px;
    font-weight:700px;
    color:white;
}

.three-pic img{
    width:25%;
    float:left;
    margin:20px;
}
.t{
    margin-left:100px;
}
.latest-tag{
    text-align:center;
    font-size:35px;
}
.client-say{
    text-align:center;
    margin-top:500px;
}
.ceo{
    text-align:center;
    margin-top:100px;
}
.email{
    background-color:red;
    width:400px;
    height:100px;
    margin-left:28%;
    color:white;
    font-size:18px;
    box-shadow: violet;
    background-origin: border-box;
}
.footer{
    font-size:10px;
    text-align:center;
    margin-top:100px;
}